.contentWrap {
	max-width: em($contentWidth);
	margin: 0 auto;
	padding: 0 em(20);
}

.copy {
	padding-top: em(30);
}

h1 {
	font-size: em($h1FontSize);
	font-weight: $heavy;
	text-align: center;
	padding-top: em(30,$h1FontSize);
	text-transform: uppercase;
}

h2 {
	font-size: em($h2FontSize);
	padding-top: em(20,$h2FontSize);
	font-weight: $regular;
	text-align: center;
}

p {
	padding-bottom: em(10);
}

.panels {
	@include display(flex);
	@include justify-content(space-between);
	padding-top: em(30);
}

.panel {
	width: 32%;
	background-color: $mapRed;
	padding-bottom: 32%;
	display: inline-block;
	background-size: cover;
	background-repeat: no-repeat;

	&:nth-child(1) {
		background-image: url(../../img/mountain1.jpg);
	}
	&:nth-child(2) {
		background-image: url(../../img/path.jpg);
	}
	&:nth-child(3) {
		background-image: url(../../img/moon.jpg);
	}
}
