// shades //
$white: 					#FFF;
$black: 					#000;
$baseGray: 					#6f6d6d;
$secondaryGray: 			#f4f4f4;
$darkGray: 					#a7b0bc;

// colours //	
$red: 						#c71334;
$baseBlue: 					#4673c7;
$secondaryBlue: 			#298bc7;
$logoBlue: 					#2770b8;
$darkBlue: 					#3d54a8;
$reportBlue: 				#1c54bc;	
$mapRed: 					#c71334;
$miscRed: 					#ba102c;
$newsBackground: 			#f9f3d1;
$pink: 						#ef84bb; $pinkHover: 				#e672ad; $pinkPale: 			#EDB4D1; $pinkPaleHover: 			#EDA4C9;
$yellowHover: 				#FFEE3F;
$green: 					#92cf14;

// typography //
$baseFontSize:				16;
$baseFontFamily: 			'Source Sans Pro', sans-serif, tahoma;
$baseLineHeight: 			28;
$baseFontWeight: 			300;
$light: 					200;
$regular: 					400;
$heavy: 					600;
$textColor: 				$black;
$bodyBackground: 			$white;

$h1FontSize: 				70;
$h2FontSize: 				32;
$contentWidth: 				1000;